---
import Layout from "../layouts/Layout.astro"
import Nav from "../layouts/navbar.astro";

---

<Layout title="OPSIL OS v1" >

<main class="w-screen h-auto bg-[#141414] text-white">
    <h1>sddsdsdsdsdsdsdsdsds</h1>
</main>
</Layout>

<script src="./Js/cookie.js"></script>
